body {
    height: 100%;
    width: 100%;
    margin: auto;
    min-height: 100%;
}

.bgimg {
    background-image: url("cudybgimg.png");
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 0;
}

.bgimg2 {
    background-image: url("pagebg.png");
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 0;
}

.pagestart {
    width: 50vw;
    height: 20vh;
    background-color: #27dbc3;
    opacity: 65%;
    z-index: 2;
    float: left;
    margin-left: 26.2vw;
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
}

.pagestart2 {
    width: 50vw;
    height: 67vh;
    background-color: #eab9ed;
    opacity: 80%;
    z-index: 2;
    float: left;
    margin-left: 26.2vw;
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
}

.pagestart3 {
    width: 50vw;
    height: 26vh;
    background-color: white;
    opacity: 30%;
    z-index: 2;
    float: left;
    margin-left: 26.2vw;
    display: block;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

p.footerp {
    margin-top: 11.75vh;
    font-size: 150%;
}

p.sliderp {
    word-spacing: 43vw;
}

h1.title {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p.text {
    margin-left: 2vh;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 125%;
    color: black;
}

p.text2 {
    margin-left: 2vh;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 110%;
    color: black;
}

p.text3 {
    text-align: center;
}

input.submitt {
    border-style: inset;
    border-color: #1c91ff;
    border-width: 0.5vw;
    border-radius: 0.2vw;
    width: 5vw;
    background-color: #6DC7D8;
}

input.submitt:hover {
    border-color: #2751db;
    background-color: #27dbc3;
}

.imgscroll {
    width: 50vw;
    height: 73vh;
    background-color: teal;
    z-index: 2;
    margin-left: 26.2vw;
    display: block;
    float: left;
}

img {
    border: gray 2px;
    width: 30vw;
    height: 72vh;
    float: right;
    filter: hue-rotate(180deg);
}

img:hover {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    filter: hue-rotate(0deg);
}

#buttonmenu {
    display: flex;
    min-width: 100vw;
    background: #6DC7D8;
    min-height: 7vh;
}

td.footertable {
    border-style: solid;
    border-width: 0.5vw;
}

table.footertable {
    margin-left: 18vw;
    width: 10vw;
}

ul {
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
}

.ignoreall {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 0 !important;
    margin-left: 4vh !important;
}

a.n2 {
    text-decoration: none;
    color: #444;
    user-select: none;
    color: black;
    font-weight: 500;
    font-size: 110%;
}

.dropdown {
    width: 50vw;
    font-size: 1.7vh;
    font-family: Calibri;
    margin-left: 26.2vw;
    opacity: 80%;
    font-weight: bolder;
}

.sliderform {
    opacity: 0.6;
    width: 49vw;
}

.sliderform:hover {
    opacity: 1;
    outline: #6DC7D8;
}

.dropdown-hitbox {
    height: 7vh;
    background-color: rgba(50, 227, 192, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    padding-top: 1vh;
    font-weight: bolder;
    font-size: 200%;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
    padding: 1vh 0.5vw;
    text-align: center;
    background-color: rgba(50, 227, 192, 0.4);
    box-shadow: 0vh 0.5vh 2vh 0.25vh #e1e1e133;
    opacity: 0.9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: #1c91ff
}